html {
    font-family: 'Lora';
}

body {
    margin: 20px;
    font-family: 'Lora';
}

.borda {
    border-bottom: 1px solid black;
}

.caixa-cabecalho {
    margin: 0 auto;
    width: 77.5%;
}

.caixa-cabecalho h1 {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.caixa-cabecalho p {
    text-align: center;
    margin-bottom: 15px;
}

.navegacao a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.navegacao a:hover {
    color: whitesmoke;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.info-box {
    position: absolute;
    left: 0;
    margin-top: 10px;
    width: 12%;
    border-right: 1px solid black;
}

.info-box p {
    margin: 10px;
}

.caixa-casas {
    border-top: 1px solid black;
    padding: 15px;
}

.caixa-main {
    width: 77.5%;
    margin: 0 auto;
    text-align: center;
}

.caixa-main li {
    display: inline-block;
    margin: 20px;
    width: 30%;
}

.caixa-casas a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.caixa-casas a:hover {
    color: whitesmoke;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.imagem-casa {
    margin-top: 10px;
    width: 320px;
    height: 220px;
    border: 0.5px solid rgb(56, 56, 56);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    border-radius: 4px;
}

.valor {
    font-size: 16px;
    color: black;
    margin: 5px;
}

.informacoes {
    font-size: 14px;
    padding: 0.5px;
}

.info-meia {
    font-size: 15px;
    font-weight: bold;
    color: darkred;
}

.atividades {
    margin-top: 15px;
}

.atividades h2 {
    font-weight: bold;
}

.atividades li {
    width: 40%;
}

.atividades p {
    margin: 5px;
}

.atividades a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.atividades a:hover {
    color: whitesmoke;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}